*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 15px;
}
 /* HEADER */
 header{
    height: 100px;
    background-color: rgb(7, 164, 216);
    background-image: url(../img/pattern.png);
    background-size: contain;
 }
 #logo{
    width: 200px;
    height: 40px;
    margin-top: 50px;
 }
 /* /HEADER */

 /* MAIN */
 /* section1 */
 h1{
    font-size: 35px;
 }
 .scritto_da{
    color: #808080;
    margin-bottom: 15px;
 }
 .info-ente{
    color: #00ffff;
 }

 .info-size{
    font-size: 10px;
 }
 /* /section1 */
 /* section2 *
 

 /* /MAIN */