*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 97%;
   margin: 0 auto;
}
 /* HEADER */
 header{
    height: 100px;
    background-color: #20b2aa;
    background-image: url(../img/pattern.png);
    background-size: 30%;
 }
 #logo{
    width: 20%;
    margin-top: 30px;
 }
 /* /HEADER */

 /* MAIN */
 /* section1 */
 h1{
    font-size: 45px;
 }
 .scritto_da{
    color: #808080;
    margin-bottom: 15px;
 }
 .info-ente{
    color: #00ffff;
 }

 .info-size{
    font-size: 10px;
 }
 #berners1{
    width: 52%;
 }
 #berners2{
    width: 44%;
 }
 /* /section1 */
 /* section2 */
 p span{
    background-color: #ffff00;
 }
 p{
    margin-top: 15px;
    margin-bottom: 20px;
 }

 ul{
    padding-left: 15px;
    margin-bottom: 20px;
 }
 
 table{
   border-collapse: collapse;
 }
  table tr.row:nth-child(odd){
    background-color: #7fffd4;
 }
 thead {
    text-align: left;
 background-color: #629df5;
 color: #ffffff;
 }
 
 .large-col{
   width: 50%;
 }
 /* /section2 */
 /* /MAIN */

 /* FOOTER */
 .spanfooter{
    color: #808080;
 }
 .footer_imp{
    padding: 10px;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
 }
 .foot-ancor{
   text-decoration: none;
   color: #d3d3d3;
 }
 #divfooter1{
    background-image: url(../img/monitor.jpg);
 }
 #divfooter2{
    background-image: url(../img/graph.jpg);
 }
 /* /FOOTER */